metrics/
models/

report/capstone-report\.synctex\.gz

report/capstone-report\.fls

report/\.ipynb_checkpoints/capstone-report-checkpoint\.ipynb

\.ipynb_checkpoints/capstone-project-2-checkpoint\.ipynb

\.ipynb_checkpoints/chollet_seq2seq_example_words-checkpoint\.ipynb

report/\.ipynb_checkpoints/generate-checkpoint\.ipynb

report/capstone-report\.aux

report/capstone-report\.bcf

report/capstone-report\.log

report/capstone-report\.run\.xml

report/capstone-report\.fdb_latexmk

\.ipynb_checkpoints/capstone_project-checkpoint\.ipynb

clean_query_inputs\.pkl

clean_query_outputs\.pkl

clean_questions\.pkl

report/capstone-report\.blg

report/capstone-report\.bbl

report/capstone-report\.out

report/report-example-1\.pdf

report/__latexindent_temp\.tex
